



.imagem-largura-total {
	width: 1550px;
	height: 400px;
  }
  
body {
	background: #d2d2d2c1 url('imagens/fundo.png');
	font: 16px Arial, helvetica, sans-serif;
}
h1{
	font-family: cursive;
	text-align: center;
}
p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#menu {
	background: #c5c5b2;
	padding: 18px;
}

#conteudo {
	background:#e8e8d9;
	padding: 10px;
}

a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.centralizar {
	text-align: center;
}
img {
	text-align: center; 
}
.imagens{
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh; /* Ajuste a altura conforme necessário */
	  }
	  
	  .container img {
		max-width: 100%;
		max-height: 100%;
	  }
	  
}